{% extends 'base.html' %}
{% block content %}
 
{% include 'includes/messages.html' %}


<div class="container-fluid">
    <h5 class="mt-4">{{title|title}}</h5>
    
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{sub_title|title}}</li>
    </ol>


    <div class='mb-5 mt-5 container text-center'>
        <form method="POST"  enctype="multipart/form-data"   novalidate>
            {% csrf_token %}

            {{image_user_form}}
 
            <div class='btn-group'>
                <button type="submit"  class="btn btn-sm btn-success">Update Image</button>
            </div>
        </form>     
    </div>

</div>
{% endblock content %}


